<section class="due">
  <h3><%= title%> <span class="remaining"><%= "#{todos.completed.length}/#{todos.length}"%></span></h3>
    <% todos.each do |todo|%>
      <div class="todo_wrapper">
        <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
          <input
            onclick="this.form.submit()"
            type="checkbox"
            name="status"
            class="checkbox_input"
            <%= todo.completed ? "checked": ""%>
          />
        <% end %>
        <span class="todo-text <%= todo.completed ? "striked": ""%>"><%= todo.todo_text %></span>
        <span class="overdue">
          <%=
            title == "Overdue" ? "Overdue" : ""
          %>
        </span>
        <span class="todo-due-date"><%= title == "Due Today" ? "" : todo.due_date.to_s(:short)%></span>
        <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
          <button class="delete-icon" onclick="this.form.submit()"><i class="far fa-trash-alt"></i></button>
        <% end %>
      </div>
    <%end%>
</section>
